
@{
    ViewBag.Title = "Index";
}

<h2>Task</h2>
<ul>
    <li>Build a GUI where a user can
        <ul>
            <li>register as new user (email, password)</li>
            <li>The application lets the user upload 1 picture at the time with an optional comment</li>
        </ul>
    </li>
    <li>It should be possible to list the pictures with optional</li>
    <li>The user should be able to log out
</li>
</ul>
<h2>Delivery</h2>
<ul>
    <li>Create a Visual Studio Solution for the task</li>
    <li>Create a script for creating the databases and tables in</li>
    <li>Build a GUI that demonstratesthat the task is solved</li>
    <li>Use Microsoft MVC for the solution</li>
    <li>Build at least 3 unit tests that validates the solution – 1 for testing a controller, a model and view respectively</li>
</ul>
<h2>Requirements</h2>
<ul>
    <li>Users, Pictures and Comments are stored in separate tables in the databases</li>
    <li>Based on the user ID the user data is stored in 1 of no less than 3 databases</li>
    <li>A users pictures and comments are stored in the same database</li>
    <li>Design and implement a simple algorithm for distributing users evenly to the database instances</li>
    <li>Design and implement a solution that requires only one database lookup to find a user ID based on email</li>
</ul>
<h2>Non-Programming task</h2>
<ul>
    <li>Describe in a few sentences your solution and how to use it</li>
    <li>Discuss the problem and possible solutions for searching for matches in users emails</li>
</ul>


